<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.mule.logging.plugin" name="mule">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RandomAccessFile name="RandomAccessFile" fileName="async.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="syncLog" level="debug" additivity="false">
            <AppenderRef ref="RandomAccessFile"/>
        </Logger>
        <AsyncLogger name="asyncLog" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>