<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MGSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>MG LOGS LIKE A CHAMP --> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>perftest.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d %p %c{1} [%t] %X{aKey} %m %ex%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender" >
        <queueSize>5000</queueSize>
        <appender-ref ref="MGSTDOUT" />
    </appender>


    <logger name="syncLog" additivity="false">
        <appender-ref ref="FILE" />
    </logger>


    <logger name="asyncLog" additivity="false">
        <appender-ref ref="ASYNC" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>